<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    routerLink="new-exercise"
    routerLinkActive="active"

    [routerLinkActiveOptions]="{ exact: true }"

  >
    New Exercise
  </a>
  <a
    mat-tab-link
    routerLink="current-exercise"
    routerLinkActive="active"

    [routerLinkActiveOptions]="{ exact: true }"

  >
    Current Exercise
  </a>
  <a
    mat-tab-link
    routerLink="past-exercise"
    routerLinkActive="active"

    [routerLinkActiveOptions]="{ exact: true }"
 
  >
    Past Exercise
  </a>
</nav>

<router-outlet class="router-outlet"></router-outlet>
