<mat-nav-list (click)="onCloseSideNav()" class="nav-list">
    <a mat-list-item routerLink="/training" routerLinkActive="active">
      <span>TRAINING</span>
      <mat-icon>fitness_center</mat-icon>
    </a>
    <a mat-list-item routerLink="/signup" routerLinkActive="active">
      <span>SIGN UP</span>
      <mat-icon>person_add</mat-icon>
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="active">
      <span>LOGIN</span>
      <mat-icon>person</mat-icon>
    </a>
    <mat-list-item>
      <span>LOGOUT</span>
      <mat-icon>eject</mat-icon>
    </mat-list-item>
  </mat-nav-list>